body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    height: 200px;
    width: 600px;
    background: #777;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    width: 50px;
}